{% extends 'base.html' %} {% load static %}

<!-- Title -->
{% block title %} Home ~ Imaginart {% endblock %}

<!-- Head -->
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

<!-- Main Section -->
{% block main %}

<section class="hero-section">
    <div class="text">
        <h1>
            Creative Branding <br />
            <strong>&</strong> Design Solutions
        </h1>
        <p>We craft visuals that connect, engage, and convert.</p>
        <a href="{% url 'contact' %}"
            ><button class="call-to-action">Let's Create Together</button></a
        >
    </div>
    <div class="visuals">
        <div class="square"></div>
        <div class="circle"></div>
        <div class="triangle"></div>
    </div>
</section>

{% endblock %}
