{% load static %}

<link rel="stylesheet" href="{% static 'css/base.css'%}" />

{% include 'navbar.html' %}

<main>
    <h1>Home Page</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil magni
    inventore iusto. Enim eos veritatis tenetur velit maiores explicabo ea
    labore corrupti ab consectetur nihil doloribus voluptate, quas, vitae
    eveniet necessitatibus pariatur voluptatem eum dolore nostrum vero deleniti
    aliquid nobis modi! Voluptates unde exercitationem laudantium repellendus
    non earum ipsa iusto ipsum, quod voluptatibus distinctio numquam excepturi
    dolorum repudiandae dolores mollitia hic dolore expedita! Eveniet beatae
    ipsum ratione maxime, harum dignissimos maiores ducimus impedit sit dolorum
    accusantium? Deserunt veniam delectus cumque illo, molestiae dolorum, iusto
    voluptatem sequi quos debitis nostrum itaque ducimus, ut ipsa nemo? Nisi,
    tempora veritatis nobis, distinctio reiciendis aut assumenda natus sunt,
    consectetur autem veniam. Sequi aspernatur eius voluptates ducimus deserunt
    perferendis distinctio, adipisci ullam nesciunt eveniet facere quis tempore
    magnam harum temporibus, tempora impedit veritatis mollitia delectus
    voluptatibus quod obcaecati quam? Corrupti quaerat quos porro, qui ad
    doloribus eveniet excepturi consectetur dignissimos fugiat minima assumenda
    in nobis, esse eaque quam veritatis doloremque animi placeat nisi quibusdam
    facilis quae dicta nam? Aperiam molestiae minus exercitationem minima enim
    nostrum repellat ratione distinctio ipsa iusto libero praesentium velit at
    nulla cupiditate, sapiente dolor doloremque corrupti optio sit consectetur a
    aliquid, incidunt ipsum! Nostrum, alias. Eveniet accusamus animi quam a
    voluptates, saepe neque voluptatem aperiam dolore dolorem at velit,
    obcaecati, praesentium ea. Soluta vel eaque esse voluptate, rerum corrupti
    dolorum sunt quae. Suscipit, quos iste! Adipisci odit voluptatem error
    eligendi laboriosam id alias neque eaque voluptate, repudiandae explicabo
    consequuntur velit atque blanditiis dicta a libero eum, ad totam quis nisi
    harum reprehenderit. Est ipsa quasi quos sit pariatur quae corrupti sed
    dolorem perferendis, porro cupiditate, nobis sunt quisquam similique illo.
    Ullam deserunt corrupti optio explicabo neque eveniet laboriosam quaerat aut
    dolor vel quidem in aliquid quisquam voluptatem sapiente, maiores voluptate,
    hic minima a. Ducimus vel cum fuga sapiente suscipit modi nemo
    necessitatibus eveniet eius provident aut, perspiciatis nobis, cupiditate
    eum atque amet sit quos, odit magni officiis itaque totam dolore harum!
    Molestiae tempore rem fugiat! Provident eaque minus repudiandae illum,
    perspiciatis sit itaque asperiores maiores modi. Quod ratione beatae
    molestiae et vitae voluptate facilis non molestias at. Facere quasi
    architecto explicabo suscipit, eaque at, minus totam voluptatibus dolores
    quod quas dignissimos ut porro! Iure a facere maxime, reprehenderit
    perspiciatis adipisci. Nemo quasi fugit sapiente tempore corporis,
    asperiores impedit aliquid, aspernatur omnis minima reiciendis! Alias eum
    nisi perspiciatis nobis eveniet ratione consequatur, esse mollitia accusamus
    repudiandae! Architecto, adipisci consequuntur voluptates quis perspiciatis
    ut excepturi et quas eligendi placeat dicta maiores tempore aperiam nobis
    quaerat velit qui veniam dolorem incidunt dolorum sapiente. Illum unde,
    totam aperiam cumque quaerat quidem eos porro nesciunt odio nobis! Ipsa
    iusto minima explicabo et, qui saepe dolores, tempora tempore quod rem
    facere nemo voluptate. Provident numquam nam placeat laborum debitis
    mollitia laudantium odio esse nisi eligendi, amet vero. Velit dolorem unde
    ratione, esse placeat fuga laborum magni rerum numquam. Eveniet repellat
    voluptas quas, doloremque corporis molestias aliquam cum nobis molestiae
    perferendis harum, eaque sequi provident architecto deleniti dolores beatae
    culpa maxime. Ut voluptates maxime esse. Quos aspernatur voluptatum dolores
    tempora, nihil quibusdam cupiditate alias delectus, iste eaque aliquid a
    distinctio nulla, labore voluptatem voluptates quidem explicabo eveniet
    reprehenderit esse? Tenetur eaque maxime eveniet totam harum architecto
    cumque, ullam animi non excepturi fugiat eum commodi dolore! Explicabo,
    commodi voluptatum. Dignissimos vitae eum tempora, optio sapiente dolor
    quisquam. Harum blanditiis tenetur ad? Veniam, saepe similique beatae
    deserunt nisi ipsum veritatis ducimus in eos atque id unde placeat est, odit
    omnis architecto error modi aperiam inventore sit perferendis!
    Reprehenderit, exercitationem debitis porro repellendus aperiam natus, quis
    a ipsa alias distinctio facilis ratione ullam rem illo nemo excepturi
    architecto, fugiat mollitia voluptas?
</main>
{% include 'footer.html' %}
